body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menuitem {
    border: 2px solid steelblue;
    background: lightsteelblue;
    float: left;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px;
    transition-duration: 0.4s;
}


.menuitem:hover {
    background-color: rgba(150,200,255,0.5);
    box-shadow: 1px 12px 16px 1px rgba(0,0,0,0.24), 2px 17px 50px 2px rgba(0,0,0,0.19);
}

.menuitem:active{
    background-color: rgba(150,200,255,1.0);
    box-shadow: 1px 12px 16px 1px rgba(0,0,0,0.24), 2px 17px 50px 2px rgba(0,0,0,0.19);    
}